{%extends "base.html"%}
{%block css%}<link rel="stylesheet" href="../css/site.css">{%endblock%}
{%block title%}
  <title>Ask &middot; IITK-Asks</title>
{%endblock%}
{%block content%}
<hr>
<br> <br>
<div class = "dateblogleft" id = "commentshid">
    <h3>Ask a Question </h3>
      <form method="POST" action="https://iitk-asks-secure.herokuapp.com/createpost/">
        <input name="options[redirect]" type="hidden" value="https://theslytherin.gitlab.io/iitk-asks/">
        <input name="options[projID]" type="hidden" value=33039532>
        <div>
            <legend>Title (required)</legend>
            <input name="fields[title]" type="text"><br>
            <legend>Username (can be anonymous)</legend>
            <input name="fields[username]" type="text"><br>
            <legend>Tags</legend>
            <input name="fields[tags]" type="text"><br>
        </div>
        <div>
            <legend>Comment (<a href="https://daringfireball.net/projects/markdown/syntax">Markdown</a> allowed)</legend>
            <textarea style="width:100%" name="fields[comment]" rows="12"></textarea>
        </div>
        <div>
            <legend><em><small>Your comments are posted after a delay (typically 5 minutes).</small></em></legend>
            <button type="submit" id = "comment-form">Submit</button>
        </div>
    </form>
</div>
{%endblock%}
