<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%block css%}<link rel="stylesheet" href="css/site.css">{%endblock%}
    {%block title%}
    <title>IITK-Asks</title>
    {%endblock%}
</head>

<body>
    <div id="headerbar">
        <a id="kerb" href="https://theslytherin.gitlab.io/iitk-asks/index.html">IITK-Asks</a>
        <div id="navbar">
            <a href="https://theslytherin.gitlab.io/iitk-asks/index.html" class="navbutton" id="aboutButton">home</a>
            <a href="https://theslytherin.gitlab.io/iitk-asks/ask.html" class="navbutton" id="aboutButton">ask</a>
        </div>
    </div>
    <hr>
    {%block content%}
    {%endblock%}
    {%block contact%}
    <div id="footer">
        <a href="mailto:sharvaniscampaign.21@gmail.com" target="_blank">
            <img class="symbol" src="https://theslytherin.gitlab.io/assets/gmail.svg" alt="(C) keybase">
          </a>
    </div>
    {%endblock%}
    <br>
    <hr>
    <div style="font-family: 'Courier New', Courier, monospace; color: blue;">
        Made with 💖 using <a href="https://c17e.juggernautjha.me/posts/vadim-blyat.html"> Vadim </a>
    </div>
  </body>
  </html>
