{%extends "base.html"%}
{%block css%}<link rel="stylesheet" href="../css/site.css">{%endblock%}
{%block title%}
<title>IITK-Asks</title>
{%endblock%}
{%block content%}
{% for post in posts %}
<div class = 'super'>
<div class = 'glance'>
    <h2>
        <a href= "../posts/{{post.post_url}}" class = "blogbutton"> {{post.post_id}} </a> <br>
        <h3><small class = 'dateblog'>{{post.date}} &middot; {{post.author}}</small><br></h3>
      
    </h2>
</div>
</div>
{% endfor %}

{%endblock%}

{%block contact%}
<br>
{%endblock%}
